<!doctype html>
<% content_for :title, "About" %>
<html class="no-js" lang="en" dir="ltr">
  <head>
  	<title>About</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
  	</script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
  	</script>
    <style>

      @font-face {
        font-family: Brandon Grotesque;
        src: url("/assets/Brandon Grotesque/Brandon_reg.otf") format("truetype");
      }
      h1 { font-family: 'Brandon Grotesque', Times, serif; }
    </style>
  </head>

<body>
    <header class="intro-header" style="background-image: url('img/contact-bg.jpg')">
    	<div class="row">
  			<div class="jumbotron">
  				<div class="container text-center">
    			<h1></h1>
  			</div>
		</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>What is Squirel?</h1>
                        <hr class="small">
                        <span class="subheading">Good question... we'll get to that :)</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            
        </div>
    </div>

    <hr>

    <!-- Footer -->
	<footer class="container-fluid text-center">
        
    </footer>

</body>

</html>
