<!DOCTYPE html>
<% content_for :title, "Squirel" %>
<html lang="en">
<head>
  <title>Squirelfeed</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
  </script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
  </script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 20px;
    }

    .spacer {
    margin-top: 60px;
	}

	.brand-text {
	size: 7;
	}
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

    @font-face {
  		font-family: Brandon Grotesque;
  		src: url("/assets/Brandon Grotesque/Brandon_reg.otf") format("truetype");
	}
	h1 { font-family: 'Brandon Grotesque', Times, serif; }

  </style>
</head>
<body>

<div style="background:black !important" class="jumbotron">
  <div class="container text-center">
    <h1>
    	<img src="/assets/small_logo_brown_no_text.png">
		<font class="brand-text" color="white" Brandon Grotesque>Squirel</font>
	</h1>
  </div>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <img src="">          
        </div>
        <div class="item">
          <img src="">
        </div>
        <div class="item">
          <img src="">
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<div class="search">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="form-section">
                <div class="row">
                    <form role="form">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="sr-only" for="location">Location</label>
                          <input type="email" class="form-control" id="location" placeholder="Location">
                        </div>
                      </div>
                      <div class="col-md-1"></div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label class="sr-only" for="checkin">Start</label>
                          <div class="input-group">
                            <input type="text" class="form-control" id="checkin" placeholder="Start">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label class="sr-only" for="checkout">End</label>
                          <div class="input-group">
                            <input type="text" class="form-control" id="checkout" placeholder="End">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-1"></div>
                      <div class="col-md-2">
                        <button type="submit" class="btn btn-default btn-primary">Search</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    <div class="column spacer">
   		<div class="span4"></div>
	</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="panel panel-primary">
        <div class="panel-heading">Hey Everyone!</div>
        <p>
        	Welcome to the new Squirel!  As we transition to a custom site, we are working on building everything from the ground up! Thank you for your continued support, and we hope you join us as we grow bigger (and our site gets prettier)
        	<br></br>

        	Functionality is limited for the time being, but please check back once in a while as we get everything up and running!
        </p>
        <div class="panel-footer">-Squirel</div>
    <div class="col-sm-4">
     
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      
    </div>
    <div class="col-sm-4">
    
    </div>
    <div class="col-sm-4">
     
    </div>
  </div>
</div><br><br>

<!-- Footer -->
<footer class="container-fluid text-center">
    <form class="form-inline">Subscribe for updates:
      <input type="email" class="form-control" size="50" placeholder="Email Address">
      <button type="button" class="btn btn-danger">Sign Up</button>
    </form>
</footer>

</body>
</html>

