<!doctype html>
<% content_for :title, "My Profile" %>
<html class="no-js" lang="en" dir="ltr">
  <head>
  	<title>Profile</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
  	</script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
  	</script>
  </head>

  <body>
  	<div class="row">
  		<div class="jumbotron">
  			<div class="container text-center">
    		<h1>
			</h1>
  		</div>
	</div>

  		<div class="col-xs-3">
  			<div class="panel panel-default">
  				<div class="panel-body">
  					<img src="/assets/profile_pic_default.png">
  					<p class="profile">
  						<%= @name %>'s Profile</p>
  				</div>
			</div>
  		</div>
  		<div class="col-xs-6">
			<div class="panel panel-default">
  				<div class="panel-body">
  					<p class="feed">Eventually, you'll have a feed here!</p>
  				</div>
			</div>  	
		</div>
  		<div class="col-xs-3">
  			<div class="panel panel-default">
  				<div class="panel-body">
  					<p class="about">...and all your settings and stuff will go here!
  					</p>
  				</div>
			</div>
  		</div>
  	</div>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
